<ol>
  {{#each posts as |post|}}
  <li class="p-2 m-5 border border-primary">
     {{> post_info post }}
  </li>
  {{/each}}
</ol>

<footer class="mt-auto text-center">
  <h2>Thanks for visiting!</h2>
</footer>