<!-- login form --> 
<form class="login_form">
  <div class="form-group">
    <label for="email_login">Email:</label>
    <input type="text" class="form-control" id="email_login"/>
  </div>
  <div class="form-group">
    <label for="password_login">Password:</label>
    <input type="password" class ="form-control" id="password_login"/>
  </div>
  <button type="submit" class="btn btn-primary m-2">Login</button>
</form>

<!-- signup form -->
<form class="signup_form">
  <div class="form-group">
    <label for="email_signup">Email:</label>
    <input type="text" class="form-control" id="email_signup"/>
  </div>
  <div class="form-group">
    <label for="username_signup">Username:</label>
    <input type="text" class ="form-control" id="username_signup"/>
  </div>
  <div class="form-group">
    <label for="password_signup">Password:</label>
    <input type="password" class ="form-control" id="password_signup"/>
  </div>
  <button type="submit" class="btn btn-primary m-2">Signup</button>
</form>
<script src="/javascript/login.js"></script>
