:root {
  --primary: #0d6efd;
}

.navbar-nav {
  margin-left: auto;
}

ol li {
  list-style: none;
}

header, .navbar-brand {
  font-size: 30px;
}

header a {
  font-size: 20px;
}

article h3 {
  color: var(--primary);
}

a {
  text-decoration: none;
}

footer h2 {
  font-size: 30px;
  color: var(--primary);
}